.s-hero {
  width: 100%;
  height: 78.6rem;
  background: url("../img/bg-hero.svg") no-repeat center center;
  padding-top: 17.5rem;
  .container {
    @include flex(row, flex-start, space-between);
  }
  .text {
    width: 100%;
    max-width: 68.4rem;

    h3 {
      color: #ffffff;
      opacity: 0.8;
      font-weight: 600;
      margin-bottom: 3.2rem;
    }

    h1 {
      color: #ffffff;
      margin-bottom: 3.9rem;
    }

    ul {
      width: 100%;
      max-width: 62.1rem;
      margin-top: 6.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        display: flex;
        align-items: center;
        .icon {
          width: 4.8rem;
          height: 4.8rem;
          background: linear-gradient(
            180deg,
            rgba(53, 203, 226, 0.4) 0%,
            rgba(53, 202, 226, 0) 100%
          );
          border-radius: 50%;
          @include flex(row, center, center);
          margin-right: 1.2rem;
        }
        span {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 2.2rem;
          color: #ffffff;
        }
      }
    }
  }
  .area-image {
    width: 100%;
    max-width: 70.6rem;
    margin-right: -17.4rem;
    h2 {
      margin-bottom: 6.7rem;
      text-align: center;
      color: #ffffff;
      opacity: 0.4;
      font-weight: 600;
    }
    .image {
      position: relative;
      top: 3.5rem;
      width: 100%;
      height: 54.1rem;
      img {
        position: absolute;
      }

      .card-front {
        top: 4.1rem;
        left: 0;
        z-index: 2;
      }

      .card-back {
        bottom: 4.6rem;
        right: 8.6rem;
        z-index: 1;
      }
      .circle {
        top: 2.8rem;
        right: 4.3rem;
      }
    }
  }
}
