.s-hero {
  width: 100%;
  height: 78.6rem;
  background: url("../img/bg-hero.svg") no-repeat center center;
  padding-top: 17.5rem;

  .container {
    @include flex(row, flex-start, space-between);
  }

  .text {
    width: 100%;
    max-width: 68.4rem;

    h3 {
      color: #ffffff;
      opacity: 0.8;
      font-weight: 600;
      margin-bottom: 3.2rem;
    }

    h1 {
      color: #ffffff;
      margin-bottom: 3.9rem;
    }

    ul {
      width: 100%;
      max-width: 62.1rem;
      margin-top: 6.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: flex;
        align-items: center;

        .icon {
          width: 4.8rem;
          height: 4.8rem;
          background: linear-gradient(180deg,
              rgba(53, 203, 226, 0.4) 0%,
              rgba(53, 202, 226, 0) 100%);
          border-radius: 50%;
          @include flex(row, center, center);
          margin-right: 1.2rem;
        }

        span {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 2.2rem;
          color: #ffffff;
        }
      }
    }
  }

  .area-image {
    width: 100%;
    max-width: 70.6rem;
    margin-right: -17.4rem;

    h2 {
      margin-bottom: 6.7rem;
      text-align: center;
      color: #ffffff;
      opacity: 0.4;
      font-weight: 600;
    }

    .image {
      position: relative;
      top: 3.5rem;
      width: 100%;
      height: 54.1rem;

      img {
        position: absolute;
      }

      .card-front {
        top: 4.1rem;
        left: 0;
        z-index: 2;
      }

      .card-back {
        bottom: 4.6rem;
        right: 8.6rem;
        z-index: 1;
      }

      .circle {
        top: 2.8rem;
        right: 4.3rem;
      }
    }
  }
}

.s-card-neon {
  padding-top: 12.9rem;

  .container {
    @include flex(row, flex-start, space-between);
  }

  .left-area {
    width: 100%;
    max-width: 27.7rem;

    .ilustra-mockup {
      position: relative;
      width: 100%;
      max-width: 27.7rem;
      margin-bottom: 12.9rem;

      .circle {
        position: absolute;
        z-index: -1;
        top: 8.7rem;
        left: -21.4rem;
        max-width: 37.7rem;
      }
    }

    .text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        position: relative;

        &:before {
          content: "";
          width: 5px;
          height: 83px;
          background: url("../img/points.svg") no-repeat center center;
          position: absolute;
          top: -104px;
          left: 50%;
          margin-left: -2.5px;
        }
      }

      .info-txt {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          margin-top: 3.6rem;
          text-align: center;
          color: $gray-600;
        }

        p {
          text-align: center;
          line-height: 150%;
          color: $gray-400;
          opacity: 0.8;
          margin-bottom: 2.6rem;
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 2.6rem;
            }
          }
        }
      }
    }
  }

  .right-area {
    width: 100%;
    max-width: 80rem;

    .main-text {
      margin-bottom: 14.4rem;

      h2 {
        max-width: 48.8rem;
        color: $gray-600;
        margin-bottom: 4.9rem;
      }

      ul {
        margin-bottom: 3.2rem;

        li {
          @include flex(row, center, space-between);
          border-bottom: 1px solid rgba(225, 224, 231, 0.9);
          padding: 3.3rem 0px;

          &:first-child {
            padding-top: 0;
          }

          .info {
            display: flex;
            align-items: center;

            .txt {
              margin-left: 4.3rem;

              h3 {
                color: $gray-400;
              }

              p {
                font-weight: 40rem;
                font-size: 1.8rem;
                line-height: 150%;
                color: $gray-300;
              }
            }
          }
        }
      }

      .btn {
        position: relative;
        display: inline-block;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 112%;
        letter-spacing: -0.5px;
        color: $brand-blue;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: -1.8rem;
          width: 10px;
          height: 3px;
          background-color: $brand-yellow;
        }
      }
    }

    .box-card {
      width: 100%;
      height: 41rem;
      background: url("../img/bg-box-card-neon.svg") no-repeat center center;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 5.9rem;

      .text {
        width: 100%;
        max-width: 38rem;

        h2 {
          color: #ffffff;
          margin-bottom: 1.1rem;
        }

        h3 {
          color: #ffffff;
          max-width: 32.7rem;
          margin-bottom: 0.8rem;
        }

        p {
          font-size: 16px;
          line-height: 150%;
          color: #ffffff;
          margin-bottom: 3.1rem;
        }

        .btns {
          display: flex;
          align-items: center;

          button {
            &:not(:first-child) {
              margin-left: 1.6rem;
            }
          }
        }
      }

      .image {
        margin-right: -3.1rem;
      }
    }
  }
}

.s-depoimentos {
  padding-top: 13.4rem;

  .top {
    @include flex (row, flex-end, space-between);
    margin-bottom: 40px;

    h2 {
      span {
        display: block;
        color: $gray-200;
        margin-bottom: 1.4rem;
      }

    }

    .swiper-pagination {
      position: relative;

      .swiper-pagination-bullet {
        background: $brand-yellow;
        opacity: 0.3;
        border-radius: 12px;
        transition: all .3s;

        &:not(:first-child) {
          margin-left: 0.4rem;
        }

        &-active {
          opacity: 1;
          border-radius: 17.23px;
        }
      }
    }
  }

  .slide-depoimentos {
    overflow: hidden;
  }
}