// Cores

$brand-blue: #0073ce;
$brand-light-blue: #00a5f0;
$brand-green-light: #00d7d7;
$brand-yellow: #ffc800;

// Escalas de Cinza

$gray-600: #33303e;
$gray-500: #4e4b59;
$gray-400: #5f5c6b;
$gray-300: #7a7786;
$gray-200: #c6c5ce;
$gray-100: #f1f0f5;
