// Cores

$brand-blue: #0073ce;
$brand-light-blue: #00a5f0;
$brand-green-light: #00d7d7;
$brand-yellow: #ffc800;

// Escalas de Cinza

$gray-600: #33303E;
$gray-500: #4E4B59;
$gray-400: #5F5C6B;
$gray-300: #7A7786;
$gray-200: #C6C5CE;
$gray-100: #F1F0F5;